<div class="component-container h-100 overflow-scroll">
  <div>
        <div class="relative flex flex-row">
              <h1 class="moon-gray pa3 pt4 mt0 w-90">
                Edit Schedule
              </h1>
              <button mat-mini-fab class = "pointer grow ba b--white add b"
                    (click) = "toggleCreateSchedule()">
                    <i [ngClass]="createEditOn? 'fa fa-minus f4':'fa fa-plus f4'"></i>
              </button>
        </div>
        <mat-card *ngIf="createEditOn" class="w-90 mh3">
            <h3 *ngIf="createOn">Create A New Schedule</h3>
            <h3 *ngIf="editOn">Edit Schedule</h3>
            <form class="pa3" #NewScheduleForm="ngForm" (ngSubmit)="onSubmit(NewScheduleForm.value)">
              <div class=" relative flex flex-row">
                  <div class="w-20">
                        <mat-form-field appearance="outline" *ngIf="createOn">
                          <mat-label>Schedule ID</mat-label>
                          <input matInput name="id" required [(ngModel)]="newId">
                        </mat-form-field>
                        <h4 *ngIf="editOn">Schedule ID &nbsp;{{newId}}</h4>
                        <br>
                        <mat-form-field appearance="outline">
                                      <mat-label>Choose a date</mat-label>
                                      <input matInput [matDatepicker]="picker" required name="date" [(ngModel)] = "newDate">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                  </div>
                  <div class="w-20">
                        <mat-form-field appearance="outline">
                            <mat-label>Zone</mat-label>
                            <mat-select required name="zoneID" [(ngModel)] = "selectedZone">
                              <mat-option *ngFor="let zone of allZones" [value]="zone.id">
                                {{zone.name}}
                              </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <mat-form-field appearance="outline">
                          <mat-label>Temperature</mat-label>
                          <input matInput name="temperature" required [(ngModel)]="newTemp">
                        </mat-form-field>
                  </div>
                </div>
                  <button mat-flat-button color="accent" type="submit" [disabled] = "NewScheduleForm.invalid" [ngClass]="{'grow ba white b--white bg-white fw7' : NewScheduleForm.valid}">
                          SUBMIT
                  </button>
            </form>
        </mat-card>
        <div *ngFor="let schedule of sortedSchedules">
            <mat-card class="w-20 fl ma3 bg-white-10 moon-gray">
                <p><b class="mr2">Schedule ID</b>{{schedule.id}}</p>
                <p><b class="mr2">Date</b>{{schedule.date | date:'short'}}</p>
                <p *ngIf="allZones">
                    <b class="mr2">Zone</b>
                    {{getZoneName(schedule.zoneID)}}
                </p>
                <p>
                    <b class="mr2">Temperature</b>
                    {{schedule.temperature | temperature: scheduleService.setTempUnit}}
                </p>
                <p class="mt4">
                  <span (click)="editSchedule(schedule.id)" class="f6 grow pointer no-underline br-pill ph3 pv2 mb2 dib white bg-blue">
                        Edit
                  </span>
                  <span (click)="deleteSchedule(schedule.id)" class="ml2 f6 grow pointer no-underline br-pill ph3 pv2 mb2 dib white bg-red">
                        Delete
                  </span>
                </p>
            </mat-card>
        </div>
  </div>
</div>