<div class="component-container h-100">
  <div>
        <div class="relative flex flex-row">
              <h1 class="moon-gray pa3 pt4 mt0 w-90">
                Edit Schedule
              </h1>
              <button mat-mini-fab class = "pointer grow ba b--white add b"
                    (click) = "createSchedule()">
                            NEW
              </button>
        </div>
        <div *ngFor="let schedule of sortedSchedules">
            <mat-card class="w-20 fl ma3 bg-white-10 moon-gray">
                <p><b class="mr2">Schedule ID</b>{{schedule.id}}</p>
                <p><b class="mr2">Date</b>{{schedule.date | date:'short'}}</p>
                <p *ngIf="allZones">
                    <b class="mr2">Zone</b>
                    {{getZoneName(schedule.zoneID)}}
                </p>
                <p>
                    <b class="mr2">Temperature</b>
                    {{schedule.temperature | temperature: scheduleService.setTempUnit}}
                </p>
                <p class="mt4">
                  <span class="f6 grow pointer no-underline br-pill ph3 pv2 mb2 dib white bg-blue">
                        Edit
                  </span>
                  <span class="ml2 f6 grow pointer no-underline br-pill ph3 pv2 mb2 dib white bg-red">
                        Delete
                  </span>
                </p>
            </mat-card>
        </div>
  </div>
</div>