<div class="component-container h-100">
    <div class="bg-black pa3 relative flex flex-row">
          <div class="b f6 near-white mv2">FILTER</div>
          <div class="mh3 relative flex flex-row">
                <mat-card></mat-card>
          </div>
    </div>
    <div>
        <h1 class="moon-gray pa3">
            Zone Overview
        </h1>
        <div>
            <mat-card class="w-20 fl ma3 bg-white-10 moon-gray">
              <p><b class="mr2">Schedule ID</b></p>
              <p><b class="mr2">Date</b></p>
              <p><b class="mr2">Zone</b></p>
              <p><b class="mr2">Temperature</b></p>
            </mat-card>
        </div>

    </div>
</div>