<div class="component-container h-100">
    <div class="bg-black pa3 relative flex flex-row">
          <div class="b f6 near-white mv2">FILTER</div>
          <div class="mh3 relative flex flex-row">
                <div *ngFor="let zone of allZones" class="washed-blue">
                    <mat-card [ngClass]="selectedZones.includes(zone.id)? 
                                        'zone-name-card selected bg-washed-blue dark-gray pointer grow' : 
                                        'zone-name-card unselected bg-transparent light-blue pointer grow'"
                                (click)="selectUnselectZones(zone.id)">
                                {{zone.name}}
                    </mat-card>
                </div>
          </div>
    </div>
    <div>
        <h1 class="moon-gray pa3">
            Zone Overview
        </h1>
        <div *ngIf="sortedFilteredSchedules">
            <div *ngFor="let schedule of sortedFilteredSchedules">
                <mat-card class="w-20 fl ma3 bg-white-10 moon-gray">
                    <p><b class="mr2">Schedule ID</b>{{schedule.id}}</p>
                    <p><b class="mr2">Date</b>{{schedule.date | date:'short'}}</p>
                    <p *ngIf="allZones">
                        <b class="mr2">Zone</b>
                        {{getZoneName(schedule.zoneID)}}
                    </p>
                    <p>
                        <b class="mr2">Temperature</b>
                        {{schedule.temperature | temperature: scheduleService.setTempUnit}}
                    </p>
                </mat-card>
            </div>
        </div>

    </div>
</div>